USE [master]
GO
/****** Object:  Database [E_Shopas]    Script Date: 2014-09-19 12:13:42 ******/
CREATE DATABASE [E_Shopas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'E_Shopas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\E_Shopas.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'E_Shopas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\E_Shopas_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E_Shopas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E_Shopas]
GO
/****** Object:  Table [dbo].[Dydziai]    Script Date: 2014-09-19 12:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dydziai](
	[DydzioID] [int] NOT NULL,
	[Dydzio_Pavadinimas] [nvarchar](50) NULL,
 CONSTRAINT [PK_Dydziai] PRIMARY KEY CLUSTERED 
(
	[DydzioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kategorija]    Script Date: 2014-09-19 12:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorija](
	[KategorijosID] [int] NOT NULL,
	[Pavadinimas] [nvarchar](50) NULL,
	[Parent_Kategorija] [int] NULL,
 CONSTRAINT [PK_Kategorija] PRIMARY KEY CLUSTERED 
(
	[KategorijosID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Preke]    Script Date: 2014-09-19 12:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preke](
	[PrekesID] [int] NOT NULL,
	[Pavadinimas] [nvarchar](50) NULL,
	[Subpavadinimas] [nvarchar](100) NULL,
	[Aprasymas] [text] NULL,
	[Lytis] [nchar](10) NULL,
	[KategorijosID] [int] NULL,
 CONSTRAINT [PK_Preke] PRIMARY KEY CLUSTERED 
(
	[PrekesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prekes_Info]    Script Date: 2014-09-19 12:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prekes_Info](
	[PrekesID] [int] NOT NULL,
	[DydisID] [int] NOT NULL,
	[Kaina] [float] NULL,
	[Likutis] [int] NULL,
	[SpalvosID] [int] NOT NULL,
 CONSTRAINT [PK_Prekes_Info] PRIMARY KEY CLUSTERED 
(
	[PrekesID] ASC,
	[DydisID] ASC,
	[SpalvosID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Spalvos]    Script Date: 2014-09-19 12:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spalvos](
	[SpalvosID] [int] NOT NULL,
	[Spalvos_Pavadinimas] [nvarchar](50) NULL,
 CONSTRAINT [PK_Spalvos] PRIMARY KEY CLUSTERED 
(
	[SpalvosID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Kategorija]  WITH CHECK ADD  CONSTRAINT [FK_Kategorija_Kategorija] FOREIGN KEY([Parent_Kategorija])
REFERENCES [dbo].[Kategorija] ([KategorijosID])
GO
ALTER TABLE [dbo].[Kategorija] CHECK CONSTRAINT [FK_Kategorija_Kategorija]
GO
ALTER TABLE [dbo].[Preke]  WITH CHECK ADD  CONSTRAINT [FK_Preke_Kategorija] FOREIGN KEY([KategorijosID])
REFERENCES [dbo].[Kategorija] ([KategorijosID])
GO
ALTER TABLE [dbo].[Preke] CHECK CONSTRAINT [FK_Preke_Kategorija]
GO
ALTER TABLE [dbo].[Prekes_Info]  WITH CHECK ADD  CONSTRAINT [FK_Prekes_Info_Dydziai] FOREIGN KEY([DydisID])
REFERENCES [dbo].[Dydziai] ([DydzioID])
GO
ALTER TABLE [dbo].[Prekes_Info] CHECK CONSTRAINT [FK_Prekes_Info_Dydziai]
GO
ALTER TABLE [dbo].[Prekes_Info]  WITH CHECK ADD  CONSTRAINT [FK_Prekes_Info_Preke] FOREIGN KEY([PrekesID])
REFERENCES [dbo].[Preke] ([PrekesID])
GO
ALTER TABLE [dbo].[Prekes_Info] CHECK CONSTRAINT [FK_Prekes_Info_Preke]
GO
ALTER TABLE [dbo].[Prekes_Info]  WITH CHECK ADD  CONSTRAINT [FK_Prekes_Info_Spalvos] FOREIGN KEY([SpalvosID])
REFERENCES [dbo].[Spalvos] ([SpalvosID])
GO
ALTER TABLE [dbo].[Prekes_Info] CHECK CONSTRAINT [FK_Prekes_Info_Spalvos]
GO
USE [master]
GO
